/* HEADER */
.Header-Container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.Header-Container-Wrapper{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-Logo{
  width: 60px;
}

.Header-Right-Container{
  width: 250px;
  display: flex;
  justify-content: space-around;
}

/* ERROR PAGE */
.Error-Container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Home */

/* Posts */
.posts{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.posts_container{
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Post Item */
.post_contain{
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(230, 228, 228);
}

.post_contain_wrapper{
  height: 95%;
  width: 95%;
}

.post_avatar{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.down_holder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.down_right{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CraetePost Page */
.Create_Post_Contain{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Create_Post_Wwrapper{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Post_Form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  justify-content: space-around;
}

.Post_Form input{
  height: 25px;
  margin-top: 15px;
  padding: 5px;
}

.Post_Form button{
  height: 40px;
  width: 120px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.Post_Form button:hover{
  background-color: #45A049; /* Slightly darker shade for hover effect */
}

.ql_editor{
  overflow: scroll;
  background: var(--color-white);
  height: 12rem;
  margin-top: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-button:hover {
  background-color: #e60000;
}

.cancel-button:hover {
  background-color: #aaa;
}

.Detail_Container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Detail_Container_Wrapper{
  width: 650px;
}

.Detail_Image{
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.Detail_Link{
  padding: 10px 5px 10px 5px;
  background-color: #4CAF50;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 20px 0;
}

@media screen and (max-width: 650px){
  .Header-Right-Container{
    width: 150px;
  }
  .posts_container{
    width: 100%;
  }
  .post_contain{
    width: 95%;
    margin-top: 10px;
  }
  .Create_Post_Wwrapper{
    width: 95%;
  }
  .Post_Form{
    margin-bottom: 20px;
  }
  .Detail_Container_Wrapper{
    width: 95%;
  }
  .Detail_Link{
    padding: 5px 2px 5px 2px;
    width: 60px;
  }
}